.App {
  text-align: center;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font: inherit;
  padding: 10px;
  cursor: pointer;
}

.btn-switch {
  background-color: blue;
  color: white;
}

.btn-toogle {
  background-color: slateblue;
  color: white;
  margin-left: 10px;
}

.btn-switch:hover {
  background-color: rgb(5, 7, 134);
  color: white;
}

.btn-toogle:hover {
  background-color: rgb(110, 43, 199);
  color: white;
}

.red {
  color: red;
}

.bold {
  color: blueviolet;
}
